@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  color-scheme: light;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prose a {
  text-decoration: underline;
  text-underline-offset: 3px;
}
